

<h1 class = "text-center">BIENVENIDO AL TROPITANGO</h1>
<br>
<br>
<ul>
    <li>@ViewBag.Username</li>
    <li>@ViewBag.Nombre</li>
    <li>@ViewBag.Apellido</li>
    <li>@ViewBag.Mail</li>                                                                                                                                                                                             </li>
</ul>
