@{
    Layout = "_Layout";
}

<link rel="script" href="site.js">
<link rel="stylesheet" href="site.css">

<h1>SOMOS LA BANDA DEL TROPITANGO</h1>

<img src="img/duo_galactico.jfif" alt="Foto DEL FAMOSO TROPITANGO (DUPLA GALACTICA)">
<p>David Weissbrod y Ian "el enano" Roitman</p>
