@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="site.css">
<link rel="script" href="site.js">
<h1>Sign in</h1>

<form action="Url.Action('Account', 'Login')">
    <label>Username: <input type="text" vlaue = "username"></label>
    <label>Contraseña: <input type="text" value = "contraseña"></label>
    <button>Olvide mi contraseña<a href="olvide.cshtml"></a></button>
</form>

